# .obsidian
GravPlatformer/Library/
GravPlatformer/Logs/
!GravPlatformer/Packages
!GravPlatformer/Packages/**
!GravPlatformer/ProjectSettings/
!GravPlatformer/ProjectSettings/**
GravPlatformer/UserSettings/
GravPlatformer/Temp
GravPlatformer/Obj
GravPlatformer/Build
GravPlatformer/Builds
Thumbs.db
.vscode/
.vs/
.idea/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db
*.pdb
*.mdb
*.obj
*.iobj
*.ipdb
*.ilk
*.lib
*.apk
*.aab
*.obb
*.ipa
*.app
**/node_modules/
.gradle/
